<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="contact">
            <a href="https://jfrancesconi.github.io/jfrancesconi_resume-march2014.pdf">resume</a>
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                Justin Francesconi<br />
                DevOps/Systems Engineer<br />
                justin.francesconi@gmail.com 
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jfrancesconi">github.com/jfrancesconi</a><br />
                <a href="https://twitter.com/francesconi">twitter.com/francesconi</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
